@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Chakra Petch", sans-serif;
}

a {
  text-decoration: none;
}

nav .bi-shop-logo {
  fill: #ffffff;
  height: 30px;
  padding: 2px;
}
nav .brand-title {
  color: #ffffff;
}
nav .bi-house-door {
  height: 30px;
  padding: 2px;
}
nav .bi-shop {
  fill: white;
  height: 30px;
  padding: 2px;
}
nav .bi-envelope-at {
  fill: white;
  height: 30px;
  padding: 2px;
}
nav .nav-link-active {
  fill: #989898;
  height: 30px;
  border: 1px solid #989898;
  border-radius: 5px;
  padding: 2px;
}
nav .nav-link-inactive {
  fill: whitesmoke;
  height: 30px;
  padding: 2px;
}

footer {
  position: absolute;
  width: 100%;
}
footer .nav-link {
  color: white;
  padding: 5px;
}
footer .nav-item {
  padding: 2px;
}
footer .social-media-icons {
  width: 25px;
  height: 25px;
}

.footer-color p {
  color: white;
  font-size: 12px;
}

.footer-color {
  font-family: "Chakra Petch", sans-serif;
  background-color: #2a2a2a;
}

body {
  height: 100vh;
}

.main-title {
  font-family: "Chakra Petch", sans-serif;
  background-color: rgba(30, 30, 30, 0.9960784314);
  display: flex;
  justify-content: center;
  border-top: 0.1px solid rgb(88, 88, 88);
}
.main-title p {
  margin: 0;
  color: #ffffff;
  display: flex;
  align-items: center;
}
.main-title .svg-fire {
  fill: #ff0000;
  height: 45px;
}
.main-title .svg-store {
  fill: #ffffff;
  height: 45px;
  align-self: center;
}

.promo-card {
  transition: all 0.3s;
  opacity: 100%;
  border-radius: 10px;
  margin: 10px;
  background-color: #ffffff;
}
.promo-card:hover {
  transition: all 0.3s;
  opacity: 100%;
  transform: translateY(-5px);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}
.promo-card .promo-card-main-container {
  display: flex;
  height: 85%;
  padding-top: 10px;
}
.promo-card .promo-card-image-container {
  width: 60%;
}
.promo-card .promo-card-image-container img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.promo-card .promo-card-svg-share-container {
  display: flex;
  justify-content: end;
  padding-right: 5px;
  margin-bottom: 10px;
  height: 30%;
}
.promo-card .promo-card-price-and-tags {
  width: 40%;
}
.promo-card .promo-card-svg-share {
  display: flex;
  height: 25px;
  fill: #ff0000;
  background-color: #ffffff;
  border: 1px solid #f4f4f4;
  border-radius: 15px;
  padding: 4px;
}
.promo-card .promo-card-svg-share:hover {
  fill: green;
}
.promo-card .promo-card-price-and-tags-price {
  width: 80%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border: 1px solid rgb(153, 153, 161);
  font-weight: bold;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  padding: 2px;
}
.promo-card .promo-card-price-and-tags-seller {
  margin-top: 15px;
  background-color: #ff0000;
  border-radius: 8px;
  width: 80%;
}
.promo-card .promo-card-svg-store {
  fill: #ffffff;
  width: 30%;
}
.promo-card .promo-card-price-and-tags-seller-img {
  display: flex;
  justify-content: center;
  padding-top: 2px;
}
.promo-card .promo-card-price-and-tags-seller .seller-name {
  color: #ffffff;
  align-self: center;
  font-size: smaller;
}
.promo-card .promo-card-details {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.promo-card .promo-card-details p {
  font-family: "Chakra Petch", sans-serif;
  color: #ffffff;
  background-color: #808080;
  width: 100%;
  height: 100%;
  border-radius: 0px 0px 8px 8px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SVGs */
.svg-tags-icons {
  height: 30px;
  border-radius: 20px;
  fill: #ffffff;
  border: 0.5px solid #d9d9d9;
  margin: 1px;
  background-color: #000000;
  border-color: #d8d8d8;
}

section {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  background: #f5f4f4;
}

.store-card {
  transition: all 0.3s;
  opacity: 100%;
  border-radius: 10px;
  margin: 10px;
  background-color: #ffffff;
}
.store-card:hover {
  transition: all 0.3s;
  opacity: 100%;
  transform: translateY(-5px);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}
.store-card .svg-store {
  fill: #ffffff;
  height: 45px;
  align-self: center;
}
.store-card .svg-share {
  height: 25px;
  fill: #ff0000;
  border: 1px solid #f4f4f4;
  border-radius: 15px;
  padding: 4px;
  margin-top: 5px;
}
.store-card .svg-share:hover {
  fill: green;
}
.store-card .content {
  height: 15%;
  display: flex;
}
.store-card .content h3 {
  width: 80%;
  text-align: center;
  align-self: center;
  padding-left: 40px;
  font-weight: bolder;
  color: #008000;
}
.store-card .svg-share-container {
  width: 20%;
  padding-right: 5px;
  text-align: end;
}
.store-card .store-card-main-container {
  display: flex;
  height: 70%;
}
.store-card .store-card-logo-container {
  width: 50%;
  margin: 0 auto;
}
.store-card .store-card-logo-container img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.store-card .store-card-tags-container {
  display: flex;
  width: 30%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.store-card .store-card-description {
  height: 15%;
  font-size: large;
  font-family: "Chakra Petch", sans-serif;
  background-color: #808080;
  border-radius: 0px 0px 8px 8px;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.store-card .store-card-tags-container svg {
  width: 60%;
}

.contact-container {
  margin: 0 auto;
  border: 0.5px solid #d9d9d9;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  width: 75%;
}

.svg-contact {
  padding-top: 5px;
  padding-left: 10px;
  height: 40px;
}

.svg-contact {
  fill: #ffffff;
  height: 45px;
}

.product-title {
  font-weight: 900;
}

.product-price {
  font-weight: 900;
  font-size: x-large;
  color: red;
}

.store-info-store-logo-img {
  width: 100px;
}

section {
  margin-bottom: 0;
}
section .row {
  padding: 0px;
  margin: 0;
}
section .store-logo-container {
  margin-top: 12px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
section .store-logo {
  border-radius: 100px;
  transition: box-shadow, transform 3s;
}
section .store-logo:hover {
  transition: all 3s;
  box-shadow: 0px 10px 50px 0px rgb(143, 143, 143);
  transform: rotate3d(1, 2, 3, 360deg);
}
section .store-description {
  font-size: larger;
}
section .store-img-container {
  display: flex;
  justify-content: center;
}
section .store-img-container img {
  width: 100%;
  border-radius: 5px;
  object-fit: contain;
  overflow: hidden;
  box-shadow: 0px 10px 50px 0px rgb(143, 143, 143);
}
section .store-button-container {
  margin: 15px;
}

.stores-section {
  background-color: rgb(236, 236, 236);
  padding-bottom: 15px;
}
.stores-section h2 {
  padding: 10px;
  color: rgb(152, 152, 152);
}
.stores-section img {
  margin: 10px;
  border: solid 1px white;
  border-radius: 20px;
  box-shadow: 0px 10px 50px 0px rgb(74, 74, 74);
  transition: all 1s;
  filter: grayscale(90%);
}
.stores-section img:hover {
  transition: all 1s;
  filter: grayscale(0%);
  border: solid 1px rgb(143, 143, 143);
}
.stores-section .sucursal {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 0 rgb(219, 218, 218);
}

/* 
MEDIAS QUERIES 
mobile first
*/
/* Mobile*/
@media (min-width: 300px) {
  /* cuando despliega el menu dar padding en mobile */
  .nav-item {
    padding: 10px 0;
  }
  section {
    margin: 0;
    padding: 0px;
  }
  .main-title {
    height: 50px;
  }
  .main-title p {
    font-size: xx-large;
    font-weight: bold;
  }
  .store-card {
    width: 100%;
    min-height: 220px;
  }
  .promo-card {
    width: 100%;
    min-height: 220px;
  }
  .promo-card-price-and-tags-seller {
    min-height: 20%;
    max-height: 25%;
  }
  /* CONTACTO */
  .contact-container {
    margin: 0 auto;
    border: 0.5px solid #d9d9d9;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    width: 75%;
  }
  .svg-contact {
    padding-top: 5px;
    padding-left: 10px;
    height: 40px;
  }
  /* Vista Producto */
  .product-title {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .product-title p {
    font-size: large;
    font-weight: bold;
  }
  .contact-container {
    width: 100%;
  }
  /* VISTA TIENDA */
  .stores-section img {
    width: 80%;
  }
  /* FOOTER */
  .social-media-icons {
    width: 25px;
    height: 25px;
  }
}
/* Tablet*/
@media (min-width: 768px) {
  section {
    padding: 10px 10%;
  }
  .main-title {
    height: 50px;
  }
  .main-title p {
    font-size: xx-large;
    font-weight: bold;
  }
  .store-card {
    width: 30%;
    min-width: 250px;
    /* background-color: #000000; */
  }
  .promo-card {
    width: 45%;
  }
  .svg-fire {
    padding-top: 5px;
    height: 40px;
  }
  .svg-contact {
    padding-top: 5px;
    padding-left: 10px;
    height: 40px;
  }
  .svg-store {
    padding-top: 5px;
    height: 40px;
  }
  .icon-home {
    display: none;
  }
  .icon-shops {
    display: none;
  }
  .icon-contact {
    display: none;
  }
  /* CONTACTO */
  .contact-container {
    width: 75%;
  }
  /* VISTA TIENDA */
  .stores-section img {
    width: 30%;
  }
  /* FOOTER */
  .social-media-icons {
    width: 20px;
    height: 20px;
  }
}
/* Desktop*/
@media (min-width: 1024px) {
  section {
    padding: 10px 10%;
  }
  .main-title {
    height: 50px;
  }
  .main-title p {
    font-size: x-large;
    font-weight: bold;
  }
  .store-card {
    width: 30%;
    /* background-color: #000000; */
  }
  .promo-card {
    width: 30%;
  }
  .promo-card-price-and-tags-seller {
    min-height: 18%;
    max-height: 25%;
  }
  .main-title {
    min-height: 30px;
  }
  .svg-store {
    padding: 2px;
    height: 50px;
  }
  .svg-fire {
    padding: 2px;
    height: 50px;
  }
  .svg-contact {
    padding: 5px;
    padding-left: 10px;
    height: 45px;
  }
  .icon-home {
    display: inline-block;
  }
  .icon-shops {
    display: inline-block;
  }
  .icon-contact {
    display: inline-block;
  }
  /* CONTACTO */
  .contact-container {
    width: 55%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  /* VISTA TIENDA */
  .stores-section img {
    width: 30%;
  }
}

/*# sourceMappingURL=style.css.map */
