@import "base/vars";
@import "base/reset";
@import "base/utilities";

// COMPONENTS
@import "components/navbar";
@import "components/footer";

// LAYOUT
@import "layout/index";
@import "layout/tiendas.scss";
@import "layout/contacto";
@import "layout/product";
@import "layout/mediaqueries";
