.contact-container {
  margin: 0 auto;
  border: 0.5px solid #d9d9d9;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  width: 75%;
}
.svg-contact {
  padding-top: 5px;
  padding-left: 10px;
  height: 40px;
}

.svg-contact {
  fill: #ffffff;
  height: 45px;
}
