nav {
  .bi-shop-logo {
    fill: #ffffff;
    height: 30px;
    padding: 2px;
  }
  .brand-title {
    color: #ffffff;
  }
  .bi-house-door {
    height: 30px;
    padding: 2px;
  }
  .bi-shop {
    fill: white;
    height: 30px;
    padding: 2px;
  }
  .bi-envelope-at {
    fill: white;
    height: 30px;
    padding: 2px;
  }
  .nav-link-active {
    fill: #989898;
    height: 30px;
    border: 1px solid #989898;
    border-radius: 5px;
    padding: 2px;
  }
  .nav-link-inactive {
    fill: whitesmoke;
    height: 30px;
    padding: 2px;
  }
}
