// VARS

$bg-color: #1e1e1efe;
$bg-section: #f5f4f4;

// PROMO
$promo-card-bg-color: #ffffff;
$promo-card-price-and-tags-seller-bg-color: #ff0000;
$promo-card-details-bg-color: #808080;
$card-box-shadow: 10px 10px 10px #00000033;

// STORE
$store-card-bg-color: #ffffff;
$store-card-description-bg-color: #808080;

// PRODUCT
$product-title-bg-color: #bab9b9;

// Fonts
$main-font: "Chakra Petch", sans-serif;

// Footer
$footer-bg-color: #2a2a2a;
